.nav{
    padding: 1rem 3rem;
    color: white;
    display: flex;
    justify-content: space-between;
}
.nright{
    display: flex;
}
.nright>ul{
    margin-left: 26rem;
    display: flex;
    justify-content: space-between;
}
.nright>ul>*{
   padding: 1rem 1.0rem;
   list-style: none;
   transition: 0.002s;
   color: white;
  
}
.nright>ul>*:hover{
    color: var(--primary);
}
.nleft{
    margin-top:-2rem ;
}
.menu{
    display: none;
    visibility: hidden;
}
.menu2{
    color: white;
    display: none;
}
@media (max-width:854px) {
    .nleft{
        margin-left: -3rem;
    }
    .nleft>img{
        width: 200px;
    }
   
    .nav{
        padding: 1rem 3.5rem;
    }
    .nright>ul{
        margin-left: 4rem;
        margin-top: 2rem;
        display: flex;
       
        justify-content: space-between;

    }
    .menu{
        display: block;
        margin-right: -13rem;
        color:rgb(1, 1, 24) ;
        margin-top: 0.3rem;
        padding:0 1px;
        visibility: visible;
        
    } 
    .menu2{
        color:rgb(230, 223, 223);
        width: 50px;
        display: block;
        margin-right: -2rem;
        margin-top: 0.3rem;
        padding:0 1px;
        height: 40px;
    }
    
}

@media (max-width:500px) {
    .nleft{
        margin-left: 1rem;
    }
    .nright{
        position: absolute;
        margin-top: -1rem;
        margin-left: 13rem;
       
       background-color: rgb(1, 1, 24);

       
    }
    
    .nright>ul{
        margin-top: 2rem;
        margin-left: -3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    .nleft>img{
        width: 100px;
        margin-left: -3rem;
        margin-top: 1rem;
    }  
    .menu{
        display: block;
        margin-right: -13rem;
        margin-top: 0.3rem;
        padding:0 1px;
        height: 45px;
        background-color: rgb(124, 119, 119);
        visibility: visible;
        
    } 
    .menu2{
        display: block;
        margin-right: 0rem;
        margin-top: 0.3rem;
        padding:0 1px;
        height: 40px;
    }
}
@media(max-width:430px){
    .menu{
        display: block;
        margin-right: -10rem;} 
        .nright{
            position: absolute;
            margin-top: -1rem;
            margin-left: 9rem;
           
           background-color: rgb(1, 1, 24);
    
           
        }   

}
@media (max-width:400px){
    .nright{
        position: absolute;
        margin-top: -1rem;
        margin-left: 9rem;
       
       background-color: rgb(1, 1, 24);

       
    }   
    .menu{
        display: block;
        margin-right: -10rem;}
}